{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

{% if error %}
	<p class="error">{{ error }}</p>
{% endif %}

<div>
	<form method="POST">
		<input
			type="hidden"
			name="csrf_token"
			value="{{ csrf_token() }}">
		<input
			type="password"
			name="oldpass"
			id="oldpass"
			class="loginput"
			placeholder="Current password"
			required>
		<input
			type="password"
			name="newpass"
			id="newpass"
			class="loginput"			
			placeholder="New password"
			required>
		<input
			type="password"
			name="conpass"
			id="conpass"
			class="loginput"
			placeholder="Confirm password"
			required>
		<button
			type="submit"
			class="logbut">
			CHANGE
		</button>
		<a
			href="/profile">
			<button
				type="button"
				class="logbut">
				BACK
			</button>
		</a>
		
	</div>

</div>

{% endblock %}