{% extends "base.html" %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}

{% if error %}
	<p class="error">{{ error }}</p>
{% endif %}

<div>	
	<form method = "POST">
		<input
			type="hidden"
			name="csrf_token"
			value="{{ csrf_token() }}">
		<input
			type="text"
			name="name"
			id="name"
			class="loginput"
			value="{{ form.get('name') if form else user['name'] }}"
			placeholder="Name"
			required>
		<input
			type="text"
			name="surname"
			id="surname"
			class="loginput"			
			value="{{ form.get('surname') if form else user['surname'] }}"
			placeholder="Surname"
			required>	
		<input
			type="text"
			name="display_name"
			id="display_name"
			class="loginput"
			value="{{ form.get('display_name') if form else user['display_name'] }}"
			placeholder="Nickname"
			required>
		<input
			type="date"
			name="birthdate"
			id="birthdate"
			class="loginput"
			value="{{ form.get('birthdate') if form else user['birthdate'] }}"
			required>
		<input
			type="text"
			name="email"
			id="email"
			class="loginput"
			value="{{ form.get('email') if form else user['email'] }}"
			placeholder="E-mail"
			required>
		<button
			type="submit"
			class="logbut">
			SAVE
		</button>
		<a
			href="/profile">
			<button
				type="button"
				class="logbut">
				BACK
			</button>
		</a>
		
	</form>

</div>

{% endblock %}