{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}


<div>
	<div class="profile">

		<form
			method="POST"
			action="{{ url_for('uploadprofilephoto') }}"
			enctype="multipart/form-data">
			
			<input
				type="hidden"
				name="csrf_token"
				value="{{ csrf_token() }}">

			<label
				class="profile-photo-upload">

				{% if user['profile_photo'] %}

					<img
						src="{{ url_for('static', filename='uploads/profile/' + user['profile_photo']) }}"
						alt="Profile Photo"
						class="profile-photo">
				{% else %}
					<img 
						src="{{ url_for('static', filename='img/profile.png') }}"
						class="profile-photo">
				{% endif %}

				<span class="photo-button">+</span>

				<input
					type="file"
					name="profile_photo"
					accept=".png, .jpg, .jpeg, .gif, .webp"
					onchange="this.form.submit()">

			</label>
		</form>

			
		<h2>{{user["display_name"]}}</h2>
		<h3>{{user["email"]}}</h3>
	</div>
	
	<div>
		<a
			href="/editprofile">
			<button
				type="button"
				class="logbut">
				Edit profile
			</button>
		</a>
		<a
			href="/changepassword">
			<button
				type="button"
				class="logbut">
				Change password
			</button>
		</a>
		
		<form method="POST" action="/logout">
			<input
				type="hidden"
				name="csrf_token"
				value="{{ csrf_token() }}">
			<button
				type="submit"
				class="logbut">
				Log Out
			</button>
		</form>
	</div>
</div>

{% endblock %}