<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>{% block title %}Study Manager{% endblock %}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

</head>

<body>
	<main>
		{% block content %}
		{% endblock %}
	
	<img
		src="{{ url_for('static', filename='img/man.gif') }}"
		class="moving-image"
		alt="">
	</main>

</body>
</html>