{% extends "login/login_base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

<h1>Change password</h1>

{% if error %}
	<p class="error-message">{{ error }}</p>
{% else %}
	
<form method="POST">
	<fieldset>
		<input
			type="hidden"
			name="csrf_token"
			value="{{ csrf_token() }}">
		<input
			type="password"
			name="newpass"
			id="newpass"
			class="loginput"
			placeholder="New Password"
			required>
		<input
			type="password"
			name="passcon"
			id="passcon"
			class="loginput"
			placeholder="Confirm Password"
			required>		
		<button
			type="submit"
			class="logbut">
			RESET
		</button>
	</fieldset>
	<a
		href="/login">
		Login
	</a>
</form>

{% endif %}

{% endblock %}