{% extends "login/login_base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

<h1>Change password</h1>
	
<form method="post">
	<fieldset>
		<input
			type="password"
			name="newpass"
			id="newpass"
			class="loginput"
			placeholder="New Password"
			required>
		<input
			type="password"
			name="passcon"
			id="passcon"
			class="loginput"
			placeholder="Confirm Password"
			required>		
		<button
			type="submit"
			class="logbut">
			RESET
		</button>
	</fieldset>
	<a
		href="/login">
		Login
	</a>
</form>

{% endblock %}