{% extends "login/login_base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<h1>Reset password</h1>
	
<form method="POST">
	<fieldset>
		<input
			type="hidden"
			name="csrf_token"
			value="{{ csrf_token() }}">
		<input
			type="text"
			name="email"
			id="email"
			class="loginput"
			placeholder="E-mail"
			required>
		<button
			type="submit"
			class="logbut">
			RESET
		</button>
	</fieldset>

	<a
		href="/login"
		class="lognav">
		Login
	</a>
</form>

{% endblock %}